<div id="form2" class="form">
  <div id="abizenak_wrp2" class="option_wrp">
    <div class="head2">
      <h1>Abizenak</h1>
    </div>
    <div class="custom_dropdown">
      <select id="abizenak2" name="abizenak2" class="select2">
        <option selected value=""></option>
        {% for abizenak in abizenak_zer %}
        <option value= "{{ abizenak }}"> {{ abizenak }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
      
  <div id="generoa_wrp2" class="option_wrp">
    <div class="head2">
        <h1>Generoa</h1>
    </div>
    <div class="aukerak">
      <input type="checkbox" id="generoa1_2" name="generoa1_2" value="gizon">
      <label for="generoa1_2  ">Gizon</label><br>
      <input type="checkbox" id="generoa2_2" name="generoa2_2" value="emakume">
      <label for="generoa2_2">Emakume</label><br>
    </div>    
  </div>
    
  <div id="alderdia_wrp2" class="option_wrp">
    <div class="head2">
      <h1>Alderdia</h1>
    </div>
    <div class="custom_dropdown">
      <select id="alderdia2" name="alderdia2" class="select2">
        <option selected value=""></option>
        <option value="ARARTEKO">Arartekoa</option>
        <option value="EAJ">EAJ</option>
        <option value="EB">Ezker Batua</option>
        <option value="EH Bildu">Bildu</option>
        <option value="EP">Elkarrekin Podemos</option>
        <option value="N">Ezezaguna</option>
        <option value="PP">PP</option>
        <option value="PSE-EE">PSE</option>
        <option value="UPyD">UPyD</option>
      </select>
    </div>
  </div>
        
  <div id="hizkuntza_wrp2" class="option_wrp">
    <div class="head2">
      <h1>Hizkuntza</h1>
    </div>
    <div class="options">
      <input type="checkbox" id="hizkuntza1_2" name="hizkuntza1_2" value="euskara">
      <label for="hizkuntza1_2">Euskara</label><br>
      <input type="checkbox" id="hizkuntza2_2" name="hizkuntza2_2" value="gaztelania">
      <label for="hizkuntza2_2">Gaztelania</label><br>
    </div>
  </div>
    
  <div id="data_wrp2" class="option_wrp data">
    <div class="head2">
      <h1>Data</h1>
    </div>
    <div class="data_wrp">
      <div class="sub_data">
        <p>Hasiera</p>
        <div class="data_dropdown">
          <select id="urtea_h2" class="urtea select2" name="urtea_h2" data-hilabete_handler="{% url 'bis:hilabete_handler' %}">
            <option selected value=""></option>
            {% for urtea in urteak %}
            <option value= "{{ urtea }}"> {{ urtea }}</option>
            {% endfor %}
          </select>
          <select id="hilabetea_h2" class="select2" name="hilabetea_h2" disabled>
          </select>
        </div>
      </div>
      <div class="sub_data">
        <p>Bukaera</p>
        <div class="data_dropdown">
          <select id="urtea_b2" class="urtea select2" name="urtea_b2" data-hilabete_handler="{% url 'bis:hilabete_handler' %}">
            <option selected value=""></option>
            {% for urtea in urteak %}
            <option value= "{{ urtea }}"> {{ urtea }}</option>
            {% endfor %}
          </select>
          <select id="hilabetea_b2" class="select2" name="hilabetea_b2" disabled>
          </select>
        </div>
      </div>           
    </div>
  </div>
</div> 