<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bis/style.css' %}">
    <link rel="shortcut icon" href="{%  static 'bis/favicon.ico' %}"> 
  </head>
    <body>
      <div id=wrapper>
        <div id=nav_wrp>
          <nav>
            <a href="#taulak" id="tables_switch" class="switch">Taulak</a>
            <a href="#parteHartzeak" id="parteHartzeak_switch" class="switch">Parte Hartzeak</a> 
            <a href="#lda" id="lda_switch" class="switch">LDA</a>  
            <a href="#scatter" id="scatter_switch" class="switch">Scatter Text</a> 
            {% comment %}
            <a href="#sentimenduak" id="sentimenduak_switch" class="switch">Sentimenduak</a>  
            {% endcomment %}
          </nav>
        </div>
      
        <div id="menu"> 
          <div id="forms_wrp">
            <form id="forms" 
                  data-taulak="{% url 'bis:taulak' %}"
                  data-parteHartzeak="{% url 'bis:parteHartzeak' %}"
                  {% comment %}
                  data-scatter="{% url 'bis:scatter' %}"
                  {% endcomment %}
                  method="post">
              {% csrf_token %}
              <input type="hidden" id="form_kopurua" name="form_kopurua" value="1"> 
              {% include 'bis/form1.html' %}
              {% include 'bis/form2.html' %}
            </form>
          </div>
          <div id="not_form">
            <div class="btn_wrp">
              <button id="number_btn" class="single" type="button">Alderatu</button>
            </div>
          </div> 
        </div> 
        <div id="lda_menu"> 
          {% include 'bis/lda_menu.html' %}
        </div>

        <div id="display">
          <div id="taulak" class="content">
            {% include 'bis/taulak.html' %}
          </div>
          <div id="parteHartzeak" class="content">
            {% include 'bis/parteHartzeak.html' %}
          </div>

          <div id="lda" class="content">
            <iframe src="{% static 'bis/ldavis.html' %}" id="lda_iframe"> </iframe>
          </div>

          <div id="scatter" class="content">
            <iframe src="about:blank" id="scatter_iframe"></iframe>
          </div>
          {% comment %}
          <div id="sentimenduak" class="content">
            {% include 'bis/sentimenduak.html' %}
          </div>  
          {% endcomment %}
        </div>    
      </div>
    <script src="{% static 'bis/main.js' %}"></script>
  </body>
</html>