<div id="lda_form_wrp">
  <form id="form_lda" data-lda="{% url 'bis:lda' %}" method="post">
    {% csrf_token %}
  <input type="radio" id="emakume" name="filtroa" value="emakume">
    <label for="emakume">Emakume</label><br>

  <input type="radio" id="gizon" name="filtroa" value="gizon">
    <label for="gizon">Gizon</label><br>
  
  <input type="radio" id="euskera" name="filtroa" value="euskera">
    <label for="euskera">Euskera</label><br>

  <input type="radio" id="gaztelera" name="filtroa" value="gaztelera">
    <label for="gaztelera">Gaztelera</label><br>

  <div class="btn_wrp">
    <input class="btn_copy" id="iragazi_btn" type="submit" value="Iragazi", name="iragazi_btn">
  </div>   
  </form>
    
</div>